DATABASE_URL=postgresql://feuerwehrapp:PASSWORT@localhost:5432/feuerwehrapp
PORT=3001
JWT_SECRET=bitte_aendern_sehr_langer_zufaelliger_string
JWT_EXPIRES_IN=8h
NODE_ENV=production
FRONTEND_URL=http://SERVER-IP:39615
UPLOAD_DIR=/var/www/feuerwehr-app/uploads
MAX_UPLOAD_SIZE=25MB

VAPID_PUBLIC_KEY=BDB8fg6_rq96Y3lC8rOWhBgLxHMufjvyp0Bc29ZjoCuH1sd2gA4491eyKJptYdHc4zr7LOLQI3WXSV8kXTcmknc
VAPID_PRIVATE_KEY=fADBcSIj5ZeQyTTVB7W1Fqk0caCmj79M7YIbfwzXsgU
VAPID_EMAIL=admin@feuerwehr.local
